body {
  margin: 0;
  padding: 0;
  text-align: center;
}

.randomImage {
  max-width: 1000px;
  max-height: 700px;
  margin: 20px;
}

.likeButton {
  background-color: rgb(8, 48, 25);
  color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
}
